body {
	background-color: #F8F8F8;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

p {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
}

img {width: 250px;
}

ul {
	list-style-type: none;
}